body{
	font-family: Arial;
	width: 1800px;
}

#side{
	width: 60px;
	color: red;
	display: inline-block;
	vertical-align: top;
}

	#side ul{
		list-style: none;
		display: inline-block;
		padding-left: 20px;
	}

	#side p{
		display: inline-block;
		width: 60px;
		height: 80px;
		margin: 0px;
	}

	#side li{
		height: 107px;
	}

	#side li:last-child{
		height: 80px;
	}

.column{
	display: inline-block;
	width: 90px;
	vertical-align: top;
	/*height: 809px;*/
}

	.box{
		border: 1px solid black;
		margin-bottom: 5px;
		text-align: center;
		height: 100px;
		width: 90px;
		display: inline-block;
	}

		.box p{
			display: block;
		}

		.num{
			margin: 0;
		}

		.name{
			font-size: 24px;
			color: rgb(25,19,182);
			font-weight: bold;
			margin: 15px;
		}

		.weight{
			margin: 0;
		}

	.red{
		color: red;
	}

.blue_back{
	background-color: rgb(104,155,255);
}

#col-3{
	margin-left: 20px;
}

.red_back{
	background-color: rgb(253,154,152);
}

.yellow_back{
	background-color: rgb(254,203,0);
}

.green_back{
	background-color: rgb(31,202,33);
}

.top_green{
	margin-top: 40px;
}

.row1{
	height: 50px;
	margin: 10px 0 0 0;
	text-align: center;
}

.row2{
	height: 157px;
	margin: 10px 0 0 0;
	text-align: center;
}

.row4{
	height: 371px;
	margin: 10px 0 0 0;
	text-align: center;
}

#bottom{
	color: rgb(255,0,81);
	display: inline-block;
	position:absolute;
	top:890px;
	left:10px;
}

	#bottom p{
		display: inline-block;
		margin-left: 60px;
	}

	#bottom #actinoids{
		margin-top: 50px;
	}

	#bottom #lan_space{
		margin-left: 90px;
	}

	#bottom #act_space{
		margin-left: 98px;
	}